<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="180">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="/stylesheets/companyAccount.css">
    <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/companyAccount.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCRdAXwaZD4Gc302lr8jSVOSQ8z28bOlo&libraries=places&callback=initAutocomplete"
            async defer></script>
    <title>Company Account</title>
</head>
<body class="w3-content">

<%include header.ejs%>
<!--Received applications-->
    <div class="w3-container" id="received">
        <h3 class="w3-padding-32" id="title1"><strong>Received Application</strong></h3>
        <%if(received.length > 0){
        for(var i=0;i<received.length;i++){%>
        <div class="w3-panel w3-container w3-border w3-border-gray w3-round-xlarge">
            <div class="w3-row">
                <div class="w3-col m4">
                    <p><%=received[i].date%></p>
                </div>
                <div class="w3-col m4">
                    <p><span class="InviteJob"><%=received[i].career%></span> From <span class="applicant"><%=received[i].employeeAccount%></span></p>
                </div>
                <div class="w3-col m4">
                    <p class="w3-right"><a class="checkEmployee" href="">Check Applicant</a></p>
                </div>
            </div>
        </div>
        <%}}else{%>
        <p class="w3-center">You haven't received any application</p>
        <%}%>
    </div>


<!--Public new publication model-->
<section id="publicJob" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
        <header class="w3-container w3-black w3-center w3-padding-32">
        <span onclick="document.getElementById('publicJob').style.display='none'"
              class="w3-button w3-black w3-xlarge w3-display-topright">X</span>
            <h2 class="w3-wide">Public New Job</h2>
        </header>
        <form enctype="multipart/form-data" class="w3-container w3-card-4" id="postForm" onsubmit="return false">
            <p>
                <label>Name of Company  </label> <span class="w3-large" id="companyName"><%=nameCompany%></span>
            </p>
            <p>
                <label>Occupation</label>
                <input class="w3-input" type="text" name="career" required id="career">
            </p>
            <label>Address</label>
            <p id="locationField" class="w3-section">
                <input class="w3-input"
                       id="autocomplete"
                       placeholder="Enter your address"
                       onFocus="geolocate()"
                       type="text"/>
            </p>
            <table id="address" class="w3-table w3-padding-32 w3-margin">
                <tr>
                    <td class="label">Street address</td>
                    <td class="slimField"><input class="field" id="street_number" disabled="true"/></td>
                    <td class="wideField" colspan="2"><input class="field" id="route" disabled="true"/></td>
                </tr>
                <tr>
                    <td class="label">City</td>
                    <td class="wideField" colspan="3"><input class="field" id="locality" disabled="true"/></td>
                </tr>
                <tr>
                    <td class="label">State</td>
                    <td class="slimField"><input class="field" id="administrative_area_level_1" disabled="true"/></td>
                    <td class="label">Zip code</td>
                    <td class="wideField"><input class="field" id="postal_code" disabled="true"/></td>
                </tr>
                <tr>
                    <td class="label">Country</td>
                    <td class="wideField" colspan="3"><input class="field" id="country" disabled="true"/></td>
                </tr>
            </table>

            <p>
                <label>Rate of Pay (Pounds/Year)</label>
                <input class="w3-input" type="text" name="pay" required id="pay">
            </p>
            <p>
                <label>Occupation description</label>
                <textarea class="w3-input" type="text" name="description" required id="desc"></textarea>
            </p>

            <p>
                <label>Occupation requirement</label>
                <textarea class="w3-input" type="text" name="requirement" required id="requ"></textarea>
            </p>

            <p><label>Job Type</label>
                <select class="w3-section w3-select w3-border" name="option" id="first" onChange="change()">
                    <option value="">Software</option>
                    <option value="">Finance</option>
                    <option value="">Biology</option>
                    <option value="">Arts</option>
                    <option value="">Literature</option>
                </select>

                <select class=" w3-select w3-border" id="second">

                </select>
            </p>

            <p>
                <label for="file">File input:</label>
                <input type="file" name="file" id="file">
            </p>

            <button type="submit" class="w3-button w3-block w3-black w3-padding-16 w3-section w3-right">SUBMIT <i class="fa fa-check"></i></button>

        </form>
    </div>
</section>

<!--Previous publication-->
<div class="w3-container" id="previous">
    <h3 class="w3-padding-32"><strong>Previous Publication</strong></h3>
    <!--public new occupation-->
    <div class="w3-container w3-center w3-margin w3-padding-32" id="new">
        <a><button class="w3-button w3-black w3-round-xlarge" id="public">Post a New Job</button></a>
    </div>
    <%if(public.length>0){
    for(var i=0;i<public.length;i++){ %>
    <div class="w3-panel w3-container w3-border w3-border-gray w3-round-xlarge">
        <div class="w3-row">
            <div class="w3-col m4">
                <p><%=public[i].date%></p>
            </div>
            <div class="w3-col m4">
                <p>I publicized a job <span class="career w3-large"><%=public[i].career%></span></p>
            </div>
            <div class="w3-col m4">
                <p class="w3-right"><a style="cursor: pointer" class="checkPublic">Check</a> / <a style="cursor: pointer" class="delete">Delete</a> </p>
            </div>
        </div>
    </div>
    <%}}else{%>
    <p class="w3-center">You haven't public any job information.</p>
    <%}%>
</div>


<!--My invitation-->

<div class="w3-container" style="margin-top: 2%">
    <h3 class="w3-padding-32"><strong>My Invitation Records</strong></h3>
    <%if(invite.length>0){
    for(var i=0;i<invite.length;i++){ %>
    <div class="w3-panel w3-container w3-border w3-border-gray w3-round-xlarge">
        <div class="w3-row">
            <div class="w3-col m4">
                <p><%=invite[i].date%></p>
            </div>
            <div class="w3-col m4">
                <p>I invited <span class="recordCandidate"><%=invite[i].employee%></span> to interview <span class="recordJob"><%=invite[i].job%></span></p>
            </div>
            <div class="w3-col m4">
                <p class="w3-right"><a class="checkInvite" href="">Check</a> </p>
            </div>
        </div>
    </div>
    <%}}else{%>
    <p class="center">You haven't invite any people.</p>
    <%}%>
</div>

<%include footer.ejs%>

</body>
</html>