<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="180">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/stylesheets/employeeAccount.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/users.js"></script>
    <title>Show Occupation Detail</title>
</head>
<body class="w3-content">

<%include header.ejs%>
<!--received Invitation-->
<div class="w3-container" id="invitations">
    <h3 id="title1"><strong>Received Invitation</strong></h3>
    <%if(received.length > 0){
        for(var i=0;i<received.length;i++){%>
    <div class="w3-panel w3-container w3-border w3-border-gray w3-round-xlarge">
        <div class="w3-row">
            <div class="w3-col m4">
                <p><%=received[i].date%></p>
            </div>
            <div class="w3-col m4">
                <p><span class="InviteJob"><%=received[i].job%></span> From <span class="InviteEmployer"><%=received[i].employer%></span></p>
            </div>
            <div class="w3-col m4">
                <p class="w3-right"><a class="checkInvitationDetail" href="">Check</a></p>
            </div>
        </div>
    </div>
    <%}}else{%>
    <p class="w3-center">You haven't received any job invitation</p>
    <%}%>
</div>

<!--public new request model-->
<section id="publicRequest" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
        <header class="w3-container w3-black w3-center w3-padding-32">
        <span onclick="document.getElementById('publicRequest').style.display='none'"
              class="w3-button w3-black w3-xlarge w3-display-topright">X</span>
            <h2 class="w3-wide">Public New Request</h2>
        </header>
        <form class="w3-container w3-card-4" id="requestForm" onsubmit="return false">
            <p>
                <label>Name</label>
                <input class="w3-input" type="text" name="realName" id="realName" required></p>
            <p>
                <label>Job request</label>
                <input class="w3-input" type="text" name="job" id="job" required></p>

            <p>
                <label>City</label>
                <input class="w3-input" type="text" name="city" id="city" required></p>
            <p>
                <label>Introduction</label>
                <textarea class="w3-input" type="text" name="intro" id="intro" require></textarea></p>

            <p><label>Job Type</label>
                <select class="w3-select w3-border" name="option" id="first" onChange="change()">
                    <option value="">Software</option>
                    <option value="">Finance</option>
                    <option value="">Biology</option>
                    <option value="">Arts</option>
                    <option value="">Literature</option>
                </select>

                <select class="w3-select w3-border" id="second" style="margin-top: 10px">

                </select></p>
            <button type="submit" class="w3-button w3-block w3-black w3-padding-16 w3-section w3-right">SUBMIT <i class="fa fa-check"></i></button>

        </form>
    </div>
</section>
<!--Previous Publication-->
<div class="w3-container" id="previous">
    <h3 class="w3-padding-32" id="title2"><strong>Previous Publication</strong></h3>
    <!--public new request-->
    <div class="w3-container w3-center w3-margin w3-padding-32" id="new">
        <a><button class="w3-button w3-black w3-round-xlarge" id="public">Post A New Job Request</button></a>
    </div>
    <%if(request.length>0){
        for(var i=0;i<request.length;i++){ %>
    <div class="w3-panel w3-container w3-border w3-border-gray w3-round-xlarge">
        <div class="w3-row">
            <div class="w3-col m4">
                <p><%=request[i].date%></p>
            </div>
            <div class="w3-col m4">
                <p>I want to find <%=request[i].job%></p>
            </div>
            <div class="w3-col m4">
                <p class="w3-right"><a style="cursor: pointer" class="checkPublic">Check</a></p>
            </div>
        </div>
    </div>
    <!--Previous Publication Model-->
    <section class="w3-modal publicDetail">
        <div class="w3-modal-content w3-animate-top w3-card-4">
            <header class="w3-container w3-black w3-center w3-padding-32">
        <span class="w3-button w3-black w3-xlarge w3-display-topright close">X</span>
                <h2 class="w3-wide">Request Detail</h2>
            </header>

            <div class="w3-container" id="panel">
                <div class="w3-container w3-panel w3-light-grey w3-border w3-round">
                    <label><strong>Username:</strong></label>
                    <p><%=request[i].account%></p>
                </div>
                <div class="w3-container w3-panel w3-light-grey w3-border w3-round">
                    <label><strong>Name:</strong></label>
                    <p><%=request[i].name%></p>
                </div>

                <div class="w3-container w3-panel w3-light-grey w3-border w3-round">
                    <label><strong>Job request:</strong></label>
                    <p><%=request[i].job%></p>
                </div>

                <div class="w3-container w3-panel w3-light-grey w3-border w3-round">
                    <label><strong>City:</strong></label>
                    <p><%=request[i].city%></p>
                </div>

                <div class="w3-container w3-panel w3-light-grey w3-border w3-round">
                    <label><strong>Introduction: </strong></label>
                    <p><%=request[i].introduction%></p>
                </div>
            </div>
        </div>
    </section>


    <%}}else{%>
    <p class="w3-center">You haven't put any job request.</p>
    <%}%>
</div>

<!--My application-->
<div class="w3-container" style="margin-top: 2%">
    <h3 class="w3-padding-32"><strong>My Application Records</strong></h3>
    <%if(record.length>0){
    for(var i=0;i<record.length;i++){ %>
    <div class="w3-panel w3-container w3-border w3-border-gray w3-round-xlarge">
        <div class="w3-row">
            <div class="w3-col m4">
                <p><%=record[i].date%></p>
            </div>
            <div class="w3-col m4">
                <p>I applied <span class="recordJob"><%=record[i].career%></span> in <span class="recordCompany"><%=record[i].employerAccount%></span></p>
            </div>
            <div class="w3-col m4">
                <p class="w3-right"><a class="checkRecord" href="">Check</a> </p>
            </div>
        </div>
    </div>
    <%}}else{%>
    <p class="center">You haven't apply any job.</p>
    <%}%>
</div>

<%include footer.ejs%>
</body>
</html>